@use '../../app/styles/variables.scss' as *;
@use '../../app/styles/mixins.scss' as *;

.search {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 9px;
  border: 1px solid $color-inactive;
  border-radius: 999px;
  flex: 1;

  @include on-desktop {
    display: none;
  }

  &__icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }

  &__input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    font-family: inherit;
    background-color: $dominant;
  }

  
}