# /etc/cron.d format (6th field = user). Output goes to docker logs and /var/log/wal-g-backup.log.
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

0 3 * * * root gosu postgres /usr/local/bin/wal-g-backup.sh 2>&1 | tee -a /var/log/wal-g-backup.log > /proc/1/fd/1
