# DJANGO
SECRET_KEY=your-secret-here

# POSTGRES
POSTGRES_DB=brand_clothing_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

# REDIS (FOR FUTURE)
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

#EMAIL
EMAIL_HOST_USER=yourmail@gmail.com
EMAIL_HOST_PASSWORD=xxxxxxxxxxxxxxxx

# PAYMENT WAYFORPAY
WAYFORPAY_MERCHANT_ACCOUNT=test_merch_n1
WAYFORPAY_SECRET_KEY=your-test-secret
WAYFORPAY_MERCHANT_DOMAIN=your-test-domain.example
WAYFORPAY_SERVICE_URL=https://your-test-domain.example/api/payments/wayforpay/callback/
WAYFORPAY_RETURN_URL=https://your-test-domain.example/payment/result

WAYFORPAY_API_URL=https://secure.wayforpay.com/pay
WAYFORPAY_CHECK_STATUS_URL=https://api.wayforpay.com/api
