@use '../../app/styles/variables.scss' as *;
@use '../../app/styles/mixins.scss' as *;

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  @include on-desktop {
    background: transparent;
    align-items: flex-start;
    justify-content: flex-end;
    padding-top: 80px;
    padding-right: 40px;
  }
}

.sort {
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  background: #fff;
  border-radius: 24px 24px 0 0;
  font-family: 'Bodoni', 'Cambria', serif;
  padding: 48px;
  

  @include on-desktop {
    max-width: 380px;
    border-radius: 16px;
    box-shadow: 0px 0px 15px 0px rgba(171, 152, 152, 0.2);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
  }

  &__label {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__options {
    font-family: 'Cambria', serif;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__option {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
  }

  &__radio {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid $color-inactive;
  position: relative;
  cursor: pointer;
  margin: 0;

  @include on-desktop {
    width: 26px;
    height: 26px;
  }

  &:checked {
    background: $accent;
    border-color: $accent;
  }

  &:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000;
  }
}

  &__apply {
    padding: 16px;
    border: none;
    border-radius: 999px;
    background: $accent;
    font-size: 16px;
    cursor: pointer;
  }
}